body {
    margin: 0 auto;
    max-width: 80ch;
    background-color: #fdf6e3;
    color: #657b83;
}

h1,
h2 {
    text-align: center;
    color: #586e75;
}

a {
    text-decoration: none;
}
    a:link {
        color: #268bd2;
    }
    a:visited {
        color: #d33682;
    }
    a:hover {
        color: #6c71c4;
    }

@media (prefers-color-scheme: dark) {
    body {
        background-color: #002b36;
        color: #839496;
    }

    h1,
    h2 {
        color: #93a1a1;
    }
}